body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer{
    height: 8vh;
    background-color: black;
    font-size: 1vh;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    flex:1;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 3fr;
    grid-template-rows: minmax(50px, 1fr) 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 1.5fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    color: white;
    background-color: #0284c7;
    padding: 15px;
}

.sidebar .description {
    font-size: 1.5vw;
    font-weight: bold;
}

.sidebar .title {
    font-size: 1.75vw;
}

.sidebar .icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    align-self: center;
}

img {
    height: 20px;
    width: 20px;
}

.title img {
    height: 30px;
    width: 30px;
}

.topbar {
    display:flex;
    flex-direction: column;
    padding-left: 1vw;
}

.topbar .search {
    flex:1;
    display: flex;
    padding: 1vw;
}

.search div {
    padding: 1vw;
}

.searchBar {
    flex:1;
    display:flex;
    
}

.searchBar input[type=text] {
    background-color: lightgrey;
    border-style: none;
    border-radius: 10px;
    flex:1;

}

.topbar .greeting {
    flex:1;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 1vw;
    padding: 1vw;
}

.topbar .greeting .avatar {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: start;
    align-self: stretch;

    
}

.topbar .greeting .avatar img {
    width:clamp(0px,6vw, 60px);
    height: auto;
}

.topbar .greeting .hello {
    font-size: 1.5vw;
    justify-self: start;
}

.topbar .greeting .name {
    font-size: 2vw;
    justify-self: start;
}

.topbar .greeting .buttons {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    align-self: center;
    justify-self: end;
    
}

.button {
    margin-right: 1vw;
    color:white;
    background-color: #0284c7;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2vw;
    width:7vw;
}

.projectsContainer, .announcementsContainer, .trendingContainer {
    border: 5px darkorange dotted
}
.content {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1vw;

}

.projectsContainer {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    
}

.projects {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 5px;
    padding: 5px;
}

.project {
    display:flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
    0 4px 8px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    padding: 5px;
    border-left: 5px orange solid;
}

.summary {
    color:rgba(0, 0, 0, 0.6);
    flex:1;
    padding: 5px 0px;
}

.actionIcons {
    filter: sepia(0%) saturate(0%) brightness(60%) contrast(20%);
    align-self:last baseline;
}

.announcementsContainer, .trendingContainer, .announcements, .announcement {
    display: flex;
    flex-direction:column;
}

.announcements, .trending {
    background-color: white;
    flex: 1;
    border-radius: 10px;
    padding: 10px;
}

.announcements .summary {
    
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    font-size: 12px;
    max-height: 36px;

    
    
}
.announcement {
    padding: 5px;
    flex: 1;
    
}

.announcement .subtitle {
    font-size: small;
}

.announcements .community {
    border-top: 2px darkgrey solid;
    border-bottom: 2px darkgrey solid;
}