body {
    height: 97vh;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
}

.header, .footer{
    height: 8vh;
    background-color: black;
    font-size: 1vh;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    flex:1;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 3fr;
    grid-template-rows: minmax(50px, 1fr) 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 1.5fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    color: white;
    background-color: #0284c7;
    padding: 15px;
}

.sidebar .description {
    font-size: 1.5vw;
    font-weight: bold;
}

.sidebar .title {
    font-size: 1.75vw;
}

.sidebar .icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    align-self: center;
}

img {
    height: 20px;
    width: 20px;
}

.title img {
    height: 30px;
    width: 30px;
}

.topbar {
    display:flex;
    flex-direction: column;
    padding-left: 1vw;
}

.topbar .search {
    flex:1;
    display: flex;
    padding: 1vw;
}

.search div {
    padding: 1vw;
}

.searchBar {
    flex:1;
    display:flex;
    
}

.searchBar input[type=text] {
    background-color: lightgrey;
    border-style: none;
    border-radius: 10px;
    flex:1;

}

.topbar .greeting {
    flex:1;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 1vw;
    padding: 1vw;
}

.topbar .greeting .avatar {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: start;
    align-self: stretch;

    
}

.topbar .greeting .avatar img {
    width:clamp(0px,6vw, 60px);
    height: auto;
}

.topbar .greeting .hello {
    font-size: 1.5vw;
    justify-self: start;
}

.topbar .greeting .name {
    font-size: 2vw;
    justify-self: start;
}

.topbar .greeting .buttons {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    align-self: center;
    justify-self: end;
    
}

.button {
    margin-right: 1vw;
    color:white;
    background-color: #0284c7;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2vw;
    width:7vw;
}


.content {
    background-color: lightgrey;
}